<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galleria</title>
    <link rel="shortcut icon" href="./LOGO/olla-caliente.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header__container"><!--COMIENZO CONTENEDOR HEADER-->       
        <picture class="header__logo">
            <img class="header__img" src="./LOGO/Logo 500x500 px.jpeg" alt="Logo">
        </picture>            
        <nav class="header__nav">
            <ul class="menu">
                <li class="menu__item"><a class="menu__link" href="../index.html" target="_blank">Home</a></li>
                <li class="menu__item"><a class="menu__link" href="./galleria.html" target="_blank">Galleria</a></li>
                <li class="menu__item"><a class="menu__link" href="./tips.html" target="_blank">Tips Saludables</a></li>
                <li class="menu__item"><a class="menu__link" href="./informacion.html" target="_blank">Información</a></li>
                <li class="menu__item"><a class="menu__link" href="./contacto.html" target="_blank">Contacto</a></li>            
            </ul>          
        </nav>
    </header><!--HASTA ACÁ SECCIÓN HEADER, PASO AL MAIN-->
    <main class="main__container">
        <section class="main__seccion1">
            <h1>Gallery</h1>
        </section>
        <!--seccion 2-->
        <div class="gallery__info">
            <h2 class="seccion2__h2">Bienvenidos a nuestra galería de imagenes</h2>
            <p class="seccion2__p">Esta es una gallería en el cual les mostraremos imagenes de diferentes platos saludables. Los mismos mostrarán variedades de alimentos, colores, sabores diferentes carácteristicas como las proporciones por ejemplo, a tener en cuenta a la hora de preparar cada una de nuestras comidas. Los invitamos a ver a continuación.</p>
        </div>
        <section class="gallery">
            <picture>
                <img class="gallery__img1" src="./MULTIMEDIA/galleria/1.jpeg" alt="">
            </picture>
            <picture>
                <img class="gallery__img2" src="./MULTIMEDIA/galleria/3.png" alt="">
            </picture>
            <picture>
                <img class="gallery__img3" src="./MULTIMEDIA/galleria/4.jpg" alt="">
            </picture>
            <picture>
                <img class="gallery__img4" src="./MULTIMEDIA/galleria/8.jpg" alt="">
            </picture>
            <picture>
                <img class="gallery__img5" src="./MULTIMEDIA/galleria/6.webp" alt="">
            </picture>
            <picture>
                <img class="gallery__img6" src="./MULTIMEDIA/galleria/7.jpg" alt="">
            </picture>
            <!--- <picture>
                <img class="gallery__img7" src="./MULTIMEDIA/galleria/8.jpg" alt="">
            </picture>--->
        </section>
    </main>
    <footer class="footer__container">
        <nav class="footer__menu">
            <ul class="footer__menu">
                <li class="footer__menu__item"><a class="footer__menu__link" href="../index.html">Home</a></li>
                <li class="footer__menu__item"><a class="footer__menu__link" href="./galleria.html" target="_blank">Galleria</a></li>
                <li class="footer__menu__item"><a class="footer__menu__link" href="./tips.html" target="_blank">Tips Saludables</a></li>
                <li class="footer__menu__item"><a class="footer__menu__link" href="./informacion.html" target="_blank">Información</a></li>
                <li class="footer__menu__item"><a class="footer__menu__link" href="./contacto.html" target="_blank">Contacto</a></li>
            </ul>  
        </nav>
        <picture class="footer__logo">
            <img class="footer__img" src="./LOGO/Logo 500x500 px.jpeg" alt="Logo">
        </picture>
        <div class="footer__info">
            <h3>RECUERDA</h3>
            <ul>
                <li>Descansar</li>
                <li>Hacer Ejercicio</li>
                <li>Alimentarte Bien</li>
                <li>Meditar</li>                
            </ul>
        </div>
    </footer>
</body>
</html>