<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información</title>
    <link rel="shortcut icon" href="./LOGO/olla-caliente.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header__container"><!--COMIENZO CONTENEDOR HEADER-->       
        <picture class="header__logo">
            <img class="header__img" src="./LOGO/Logo 500x500 px.jpeg" alt="Logo">
        </picture>            
        <nav class="header__nav">
            <ul class="menu">
                <li class="menu__item"><a class="menu__link" href="../index.html" target="_blank">Home</a></li>
                <li class="menu__item"><a class="menu__link" href="./galleria.html" target="_blank">Galleria</a></li>
                <li class="menu__item"><a class="menu__link" href="./tips.html" target="_blank">Tips Saludables</a></li>
                <li class="menu__item"><a class="menu__link" href="./informacion.html" target="_blank">Información</a></li>
                <li class="menu__item"><a class="menu__link" href="./contacto.html" target="_blank">Contacto</a></li>                             
            </ul>          
        </nav>
    </header><!--HASTA ACÁ SECCIÓN HEADER, PASO AL MAIN-->
    <main>
        <section class="main__seccion1">
            <h1>Información Alimentaria</h1>
        </section>
        <div class="info__container">
            <h2 class="seccion2__h2">Información energética de alimentos</h2>
            <p>A continuación, te compartimos información nutricional de diferentes clases de alimentos</p>
        </div>
        <div class="info__container">
            <section class="info__carne">
                <picture class="info__pic">
                    <img src="./MULTIMEDIA/carnes.jpg" alt="">
                </picture>
                <article class="info__art">
                    <h3>Carnes, pollo y pescado</h3>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, veniam laboriosam aspernatur at, quo voluptatibus nobis deleniti maxime nesciunt libero vitae! Quos consequatur debitis ipsum molestias numquam perspiciatis natus quod.</p>
                </article>
            </section>
            <section class="info__verdu">
                
                <picture class="info__pic">
                    <img src="./MULTIMEDIA/vegetales-edit.jpg" alt="">
                </picture>
                <article class="info__art">
                    <h3>Vegetales</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae quidem quod neque impedit laboriosam inventore dolorum asperiores ad tempore reiciendis, ipsam natus voluptates saepe similique provident itaque porro quis recusandae!</p>
                </article>
                
            </section>
            <section class="info__frutas">
                <picture class="info__pic">
                    <img src="../MULTIMEDIA/frutas.jpg" alt="">
                </picture>
                <article class="info__art">
                    <h3>Frutas</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iste necessitatibus accusamus id velit, facere eius aspernatur dolorum fugiat labore beatae numquam rerum repellat consequatur voluptas. Nobis quod eligendi dolor.</p>
                </article>
            </section>
            <section class="info__legumbres">
                
                <picture class="info__pic">
                    <img src="../MULTIMEDIA/legumbres.webp" alt="">
                </picture>
                <article class="info__art">
                    <h3>Legumbres y cereales</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste deserunt velit unde delectus. Temporibus exercitationem, reprehenderit neque facilis repudiandae ad quasi corporis soluta eveniet optio eaque fugit consequuntur inventore? Debitis!</p>
                </article>
                
            </section>
        </div>    
    </main>
    <footer class="footer__container">
        <nav class="footer__menu">
            <ul class="footer__menu">
                <li class="footer__menu__item"><a class="footer__menu__link" href="../index.html">Home</a></li>
                <li class="footer__menu__item"><a class="footer__menu__link" href="./galleria.html" target="_blank">Galleria</a></li>
                <li class="footer__menu__item"><a class="footer__menu__link" href="./tips.html" target="_blank">Tips Saludables</a></li>
                <li class="footer__menu__item"><a class="footer__menu__link" href="./informacion.html" target="_blank">Información</a></li>
                <li class="footer__menu__item"><a class="footer__menu__link" href="./contacto.html" target="_blank">Contacto</a></li>
            </ul>
        </nav>
        <picture class="footer__logo">
            <img class="footer__img" src="./LOGO/Logo 500x500 px.jpeg" alt="Logo">
        </picture>
        <div class="footer__info">
            <h3>RECUERDA</h3>
            <ul>
                <li>Descansar</li>
                <li>Hacer Ejercicio</li>
                <li>Alimentarte Bien</li>
                <li>Meditar</li>                
            </ul>
        </div>
    </footer>
</body>
</html>